[Desktop Entry]
Version=1.0
Type=Link
Name=Stocker des données en mémoire EEPROM avec une carte Arduino / Genuino | Carnet du maker - L'esprit Do It Yourself
Comment=
Icon=user-bookmarks
URL=https://www.carnetdumaker.net/articles/stocker-des-donnees-en-memoire-eeprom-avec-une-carte-arduino-genuino/
